.counter{
    width : 450px;
    height : 200px;
    background-color: beige;
    border : 1px solid black;
    border-radius: 20px;
    gap : 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#submitButton{
    width : 100px;
    height : 40px;
    border-radius: 10px;
    border : 1px solid white;
    background-color: lightblue;
    cursor: pointer;
}